@tailwind base;
@tailwind components;
@tailwind utilities;
html {
  height: 100%;
}
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif,
    Algerian;
  min-height: 100%;
  height: auto;
}

.head {
  font-family: Algerian;
}
a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}
.underline--bacon {
  background-image: url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/78779/bacon.svg");
  background-position: 0;
  background-size: 3rem 1rem;
  color: #9e4446;
}
.CardItem {
  min-width: 500px;
  min-height: 200px;
  border: 1px solid grey;
  background: black;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
  body {
    color: white;
    background: black;
  }
}
