.container {
  padding: 0 2rem;
  background-image: url("https://media.istockphoto.com/id/507912374/photo/pure-black-sand-texture.jpg?s=612x612&w=0&k=20&c=4ROY55580U-0KzGqPkThysT32V-T-Y3pV1kAZD0t98I=");
  /* background-size: cover; */
}

.main {
  min-height: 100vh;
  padding: 1rem 0;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.header {
  padding-top: 1rem;
  padding: rem 0;
  border-bottom: 1px solid #eaeaea;
}

.footer {
  display: flex;
  flex: 1;
  padding: 2rem 0;
  border-top: 1px solid #eaeaea;
  justify-content: center;
  align-items: center;
}

.footer a {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-grow: 1;
}
